__pycache__/
*.py[cod]
.DS_Store

.pytest_cache/
.mypy_cache/
.ruff_cache/

logs/
logs_ae/
runs/
tb/

*.ckpt
*.pth
*.pt

/data/
/datasets/
/outputs/
/log/
/logs/
/logs_ae/
/runs/
/tb/
outputs/


data/Real3D/Real3D-AD-PCD
data/Real3D/Real3D-AD-PLY
data/Real3D/Real3D-AD-PLY-CUT
data/Real3D/Real3D-AD-PLY-CUT+FULL
data/AnomalyShapeNet/dataset
log/
AF3AD_ckpts/
ckpts/